@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 305 62% 99%;
      --foreground: 305 64% 0%;
      --muted: 305 31% 91%;
      --muted-foreground: 305 10% 26%;
      --popover: 305 62% 99%;
      --popover-foreground: 305 64% 0%;
      --card: 305 62% 98%;
      --card-foreground: 0 0% 0%;
      --border: 305 15% 93%;
      --input: 305 15% 93%;
      --primary: 305 31% 42%;
      --primary-foreground: 0 0% 100%;
      --secondary: 305 14% 80%;
      --secondary-foreground: 305 14% 20%;
      --accent: 305 20% 72%;
      --accent-foreground: 305 20% 12%;
      --destructive: 2 97% 24%;
      --destructive-foreground: 2 97% 84%;
      --ring: 305 31% 42%;
      --radius: 0.5rem;
   }

   .dark {
      --background: 305 58% 4%;
      --foreground: 305 37% 98%;
      --muted: 305 31% 9%;
      --muted-foreground: 305 10% 74%;
      --popover: 305 58% 4%;
      --popover-foreground: 305 37% 98%;
      --card: 305 58% 5%;
      --card-foreground: 305 37% 99%;
      --border: 305 15% 12%;
      --input: 305 15% 12%;
      --primary: 305 31% 42%;
      --primary-foreground: 0 0% 100%;
      --secondary: 305 1% 18%;
      --secondary-foreground: 305 1% 78%;
      --accent: 305 10% 24%;
      --accent-foreground: 305 10% 84%;
      --destructive: 2 97% 60%;
      --destructive-foreground: 0 0% 100%;
      --ring: 305 31% 42%;
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }
}
